In [1]:
import csv

import math
import numpy as np
import pandas as pd

import psycopg2

#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [2]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [3]:
cursor = connection.cursor()

In [4]:
def my_read_csv_file(file_name, limit):
    "read the csv file and print only the first limit rows"
    
    csv_file = open(file_name, "r")
    
    csv_data = csv.reader(csv_file)
    
    i = 0
    
    for row in csv_data:
        i += 1
        if i <= limit:
            print(row)
            
    print("\nPrinted ", min(limit, i), "lines of ", i, "total lines.")

In [5]:
query = '''
select * from stations'''
cursor.execute(query)
connection.commit()

In [6]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select station
from stations
order by station

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

                 station
0            12th Street
1    16th Street Mission
2            19th Street
3    24th Street Mission
4                Antioch
5                  Ashby
6            Balboa Park
7               Bay Fair
8              Berryessa
9          Castro Valley
10          Civic Center
11              Coliseum
12                 Colma
13               Concord
14             Daly City
15     Downtown Berkeley
16                Dublin
17  El Cerrito del Norte
18      El Cerrito Plaza
19           Embarcadero
20               Fremont
21             Fruitvale
22             Glen Park
23               Hayward
24             Lafayette
25          Lake Merritt
26             MacArthur
27              Millbrae
28              Milpitas
29     Montgomery Street
30        North Berkeley
31         North Concord
32                   OAK
33                Orinda
34             Pittsburg
35      Pittsburg Center
36         Pleasant Hill
37         Powell Street
38              Richmond
39             Rockridge
40             San Bruno
41           San Leandro
42                   SFO
43         South Hayward
44   South San Francisco
45            Union City
46          Walnut Creek
47          Warm Springs
48           West Dublin
49          West Oakland

In [7]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select *
from travel_times


"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

               station_1             station_2  travel_time
0            12th Street           19th Street          120
1            12th Street          Lake Merritt          180
2            12th Street          West Oakland          300
3    16th Street Mission   24th Street Mission          120
4    16th Street Mission          Civic Center          180
5            19th Street             MacArthur          180
6    24th Street Mission             Glen Park          180
7                Antioch      Pittsburg Center          420
8                  Ashby     Downtown Berkeley          180
9                  Ashby             MacArthur          240
10           Balboa Park             Daly City          240
11           Balboa Park             Glen Park          120
12              Bay Fair         Castro Valley          240
13              Bay Fair               Hayward          240
14              Bay Fair           San Leandro          240
15             Berryessa              Milpitas          300
16         Castro Valley           West Dublin          600
17          Civic Center         Powell Street           60
18              Coliseum             Fruitvale          240
19              Coliseum                   OAK          480
20              Coliseum           San Leandro          240
21                 Colma             Daly City          240
22                 Colma   South San Francisco          180
23               Concord         North Concord          180
24               Concord         Pleasant Hill          360
25     Downtown Berkeley        North Berkeley          120
26                Dublin           West Dublin          180
27      El Cerrito Plaza  El Cerrito del Norte          180
28      El Cerrito Plaza        North Berkeley          180
29  El Cerrito del Norte              Richmond          300
30           Embarcadero     Montgomery Street           60
31           Embarcadero          West Oakland          420
32               Fremont            Union City          300
33               Fremont          Warm Springs          360
34             Fruitvale          Lake Merritt          300
35               Hayward         South Hayward          240
36             Lafayette                Orinda          300
37             Lafayette          Walnut Creek          300
38          Lake Merritt          West Oakland          360
39             MacArthur             Rockridge          240
40              Millbrae                   SFO          300
41              Millbrae             San Bruno          420
42              Milpitas          Warm Springs          540
43     Montgomery Street         Powell Street          120
44         North Concord             Pittsburg          360
45                Orinda             Rockridge          300
46             Pittsburg      Pittsburg Center          600
47         Pleasant Hill          Walnut Creek          120
48                   SFO             San Bruno          240
49             San Bruno   South San Francisco          240
50         South Hayward            Union City          300

In [8]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select *
from lines


"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

       line  sequence              station
0      blue         1               Dublin
1      blue         2          West Dublin
2      blue         3        Castro Valley
3      blue         4             Bay Fair
4      blue         5          San Leandro
..      ...       ...                  ...
109  yellow        23            Daly City
110  yellow        24                Colma
111  yellow        25  South San Francisco
112  yellow        26            San Bruno
113  yellow        27                  SFO

[114 rows x 3 columns]

In [9]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select *
from customers


"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

,customer_id,first_name,last_name,street,city,state,zip,closest_store_id,distance
0,1,Robb,Weaving,5 Ramsey Place,Oakland,CA,94609,1,1
1,2,Robby,Belliard,6 Londonderry Plaza,Oakland,CA,94609,1,1
2,3,Sadella,Caudrelier,548 Mcguire Parkway,Oakland,CA,94609,1,1
3,4,Holmes,Shimmings,99 Kennedy Court,Oakland,CA,94609,1,1
4,5,Beverley,Gubbin,51 Mcbride Drive,Oakland,CA,94609,1,1
...,...,...,...,...,...,...,...,...,...
31077,31078,Hugo,Domeney,529 5th Plaza,Thompsons Station,TN,37179,5,25
31078,31079,Glenn,Putson,1347 Westend Crossing,Thompsons Station,TN,37179,5,25
31079,31080,Minnie,Antham,9 Judy Place,Thompsons Station,TN,37179,5,25
31080,31081,Linet,Djorvic,29 Trailsway Drive,Thompsons Station,TN,37179,5,25
31081,31082,Randal,Bourdas,2 Crescent Oaks Drive,Thompsons Station,TN,37179,5,25

In [10]:
import neo4j
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))
session = driver.session(database="neo4j")

In [11]:
def my_neo4j_wipe_out_database():
    "wipe out database by deleting all nodes and relationships"
    
    query = "match (node)-[relationship]->() delete node, relationship"
    session.run(query)
    
    query = "match (node) delete node"
    session.run(query)

In [12]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

In [13]:
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

In [14]:
def my_neo4j_create_node(station_name):
    "create a node with label Station"
    
    query = """
    
    CREATE (:Station {name: $station_name})
    
    """
    
    session.run(query, station_name=station_name)

In [15]:
def my_neo4j_create_relationship_one_way(from_station, to_station, weight):
    "create a relationship one way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [16]:
def my_neo4j_create_relationship_two_way(from_station, to_station, weight):
    "create relationships two way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to),
           (to)-[:LINK {weight: $weight}]->(from)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [17]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [18]:
cursor = connection.cursor()

In [19]:
my_neo4j_wipe_out_database()

In [20]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 0
  Relationships: 0
-------------------------

In [21]:
connection.rollback()

query = """

select station
from stations
order by station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

print(rows)

for row in rows:
    
    station = row[0]
    
    my_neo4j_create_node('depart ' + station)
    my_neo4j_create_node('arrive ' + station)

[('12th Street',), ('16th Street Mission',), ('19th Street',), ('24th Street Mission',), ('Antioch',), ('Ashby',), ('Balboa Park',), ('Bay Fair',), ('Berryessa',), ('Castro Valley',), ('Civic Center',), ('Coliseum',), ('Colma',), ('Concord',), ('Daly City',), ('Downtown Berkeley',), ('Dublin',), ('El Cerrito del Norte',), ('El Cerrito Plaza',), ('Embarcadero',), ('Fremont',), ('Fruitvale',), ('Glen Park',), ('Hayward',), ('Lafayette',), ('Lake Merritt',), ('MacArthur',), ('Millbrae',), ('Milpitas',), ('Montgomery Street',), ('North Berkeley',), ('North Concord',), ('OAK',), ('Orinda',), ('Pittsburg',), ('Pittsburg Center',), ('Pleasant Hill',), ('Powell Street',), ('Richmond',), ('Rockridge',), ('San Bruno',), ('San Leandro',), ('SFO',), ('South Hayward',), ('South San Francisco',), ('Union City',), ('Walnut Creek',), ('Warm Springs',), ('West Dublin',), ('West Oakland',)]

In [22]:
connection.rollback()

query = """

select station, line
from lines
order by station, line

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

print(rows)

[('12th Street', 'orange'), ('12th Street', 'red'), ('12th Street', 'yellow'), ('16th Street Mission', 'blue'), ('16th Street Mission', 'green'), ('16th Street Mission', 'red'), ('16th Street Mission', 'yellow'), ('19th Street', 'orange'), ('19th Street', 'red'), ('19th Street', 'yellow'), ('24th Street Mission', 'blue'), ('24th Street Mission', 'green'), ('24th Street Mission', 'red'), ('24th Street Mission', 'yellow'), ('Antioch', 'yellow'), ('Ashby', 'orange'), ('Ashby', 'red'), ('Balboa Park', 'blue'), ('Balboa Park', 'green'), ('Balboa Park', 'red'), ('Balboa Park', 'yellow'), ('Bay Fair', 'blue'), ('Bay Fair', 'green'), ('Bay Fair', 'orange'), ('Berryessa', 'green'), ('Berryessa', 'orange'), ('Castro Valley', 'blue'), ('Civic Center', 'blue'), ('Civic Center', 'green'), ('Civic Center', 'red'), ('Civic Center', 'yellow'), ('Coliseum', 'blue'), ('Coliseum', 'gray'), ('Coliseum', 'green'), ('Coliseum', 'orange'), ('Colma', 'red'), ('Colma', 'yellow'), ('Concord', 'yellow'), ('Daly City', 'blue'), ('Daly City', 'green'), ('Daly City', 'red'), ('Daly City', 'yellow'), ('Downtown Berkeley', 'orange'), ('Downtown Berkeley', 'red'), ('Dublin', 'blue'), ('El Cerrito del Norte', 'orange'), ('El Cerrito del Norte', 'red'), ('El Cerrito Plaza', 'orange'), ('El Cerrito Plaza', 'red'), ('Embarcadero', 'blue'), ('Embarcadero', 'green'), ('Embarcadero', 'red'), ('Embarcadero', 'yellow'), ('Fremont', 'green'), ('Fremont', 'orange'), ('Fruitvale', 'blue'), ('Fruitvale', 'green'), ('Fruitvale', 'orange'), ('Glen Park', 'blue'), ('Glen Park', 'green'), ('Glen Park', 'red'), ('Glen Park', 'yellow'), ('Hayward', 'green'), ('Hayward', 'orange'), ('Lafayette', 'yellow'), ('Lake Merritt', 'blue'), ('Lake Merritt', 'green'), ('Lake Merritt', 'orange'), ('MacArthur', 'orange'), ('MacArthur', 'red'), ('MacArthur', 'yellow'), ('Millbrae', 'red'), ('Milpitas', 'green'), ('Milpitas', 'orange'), ('Montgomery Street', 'blue'), ('Montgomery Street', 'green'), ('Montgomery Street', 'red'), ('Montgomery Street', 'yellow'), ('North Berkeley', 'orange'), ('North Berkeley', 'red'), ('North Concord', 'yellow'), ('OAK', 'gray'), ('Orinda', 'yellow'), ('Pittsburg', 'yellow'), ('Pittsburg Center', 'yellow'), ('Pleasant Hill', 'yellow'), ('Powell Street', 'blue'), ('Powell Street', 'green'), ('Powell Street', 'red'), ('Powell Street', 'yellow'), ('Richmond', 'orange'), ('Richmond', 'red'), ('Rockridge', 'yellow'), ('San Bruno', 'red'), ('San Bruno', 'yellow'), ('San Leandro', 'blue'), ('San Leandro', 'green'), ('San Leandro', 'orange'), ('SFO', 'red'), ('SFO', 'yellow'), ('South Hayward', 'green'), ('South Hayward', 'orange'), ('South San Francisco', 'red'), ('South San Francisco', 'yellow'), ('Union City', 'green'), ('Union City', 'orange'), ('Walnut Creek', 'yellow'), ('Warm Springs', 'green'), ('Warm Springs', 'orange'), ('West Dublin', 'blue'), ('West Oakland', 'blue'), ('West Oakland', 'green'), ('West Oakland', 'red'), ('West Oakland', 'yellow')]

In [23]:
for row in rows:
    
    station = row[0]
    line = row[1]
    
    my_neo4j_create_node(line + ' ' + station)
    my_neo4j_create_relationship_one_way('depart ' + station, line + ' ' + station,0)
    my_neo4j_create_relationship_one_way(line + ' ' + station, 'arrive ' + station,0)

In [24]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 228
-------------------------

In [25]:
connection.rollback()

query = """

select a.station, a.line as from_line, b.line as to_line, s.transfer_time
from lines a
     join lines b
       on a.station = b.station and a.line <> b.line 
     join stations s
       on a.station = s.station
order by 1, 2, 3

"""
cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    from_line = row[1]
    to_line = row[2]
    transfer_time = int(row[3])
    
    
    my_neo4j_create_relationship_one_way(from_line + ' ' + station, to_line + ' ' + station, transfer_time)

In [26]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 436
-------------------------

In [27]:
connection.rollback()

query = """

select a.line, a.station as from_station, b.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
order by line, from_station, to_station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

In [28]:
for row in rows:
    
    line = row[0]
    from_station = row[1]
    to_station = row[2]
    travel_time = int(row[3])
    
    my_neo4j_create_relationship_two_way(line + ' ' + from_station, line + ' ' + to_station, travel_time)

In [29]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 652
-------------------------

In [30]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = """

CALL gds.graph.project('ds_graph', 'Station', 'LINK', 
                      {relationshipProperties: 'weight'})
"""

session.run(query)

In [31]:
query = """

CALL gds.louvain.stream('ds_graph', {includeIntermediateCommunities: true})
YIELD nodeId, communityId, intermediateCommunityIds
RETURN gds.util.asNode(nodeId).name AS name, communityId as community, intermediateCommunityIds as intermediate_community
ORDER BY community, name ASC

"""

df = my_neo4j_run_query_pandas(query)

In [32]:
for i in np.unique(df.community):
    print(i)
    (df[df.community==i])

96
98
104
134
138
150
166
168
176
182
184

In [33]:
df

                        name  community intermediate_community
0         arrive 12th Street         96           [92, 96, 96]
1         arrive 19th Street         96           [96, 96, 96]
2           arrive MacArthur         96          [144, 96, 96]
3         depart 12th Street         96           [92, 96, 96]
4         depart 19th Street         96           [96, 96, 96]
..                       ...        ...                    ...
209         yellow Pittsburg        184        [160, 162, 184]
210  yellow Pittsburg Center        184        [162, 162, 184]
211     yellow Pleasant Hill        184        [164, 184, 184]
212         yellow Rockridge        184        [170, 158, 184]
213      yellow Walnut Creek        184        [184, 184, 184]

[214 rows x 3 columns]

In [34]:
# Load data using curl
!curl --output data_2020.zip "https://www.bart.gov/sites/default/files/docs/ridership_2020.zip"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  784k  100  784k    0     0  1054k      0 --:--:-- --:--:-- --:--:-- 1054k

In [35]:
import zipfile

with zipfile.ZipFile('data_2020.zip','r') as zip_read:
    zip_read.extractall('data_2020')

In [36]:
def read_table(file_path,sheet_name='Total Trips OD'):
    data_table = pd.read_excel(file_path,header=1,index_col=0,sheet_name=sheet_name)
#     data_table = data_table.iloc[:-1,:-1] # To remove the last "Entries" and "Exit" row/cols
    return data_table

In [37]:
jan_data = read_table('data_2020/ridership_2020/Ridership_202001.xlsx')

In [38]:
jan_data.Exits/30

RM           3439.700000
EN           6085.700000
EP           3717.100000
NB           3253.033333
BK           8545.566667
AS           3877.600000
MA           7059.166667
19          10472.166667
12          10717.966667
LM           5341.300000
FV           6015.000000
CL           3452.333333
SL           4677.866667
BF           4152.700000
HY           3434.300000
SH           2211.866667
UC           3326.300000
FM           4144.366667
CN           4170.333333
PH           5682.100000
WC           5049.433333
LF           2714.333333
OR           2204.700000
RR           4375.900000
OW           5659.766667
EM          35934.966667
MT          33522.833333
PL          20590.700000
CC          17718.700000
16          10539.800000
24           9898.000000
GP           5689.166667
BP           7873.466667
DC           6918.966667
CM           3299.366667
CV           2089.033333
ED           6047.133333
NC           1373.933333
WP           2859.700000
SS           2602.066667
SB           2795.166667
SO           4304.133333
MB           4473.700000
WD           2667.933333
OA            807.866667
WS           3164.533333
ML              0.000000
BE              0.000000
PC            857.900000
AN           2150.533333
Entries    311960.200000
Name: Exits, dtype: float64

In [39]:
# Load station name abbreviation mapping
!curl --output station_names.xls "https://www.bart.gov/sites/default/files/docs/station-names.xls"
station_name_table = pd.read_excel('station_names.xls',header=0,index_col='Two-Letter Station Code',
              usecols=['Station Name','Two-Letter Station Code'])

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 31232  100 31232    0     0  71665      0 --:--:-- --:--:-- --:--:-- 71797

In [40]:
station_name_table.to_csv('station_code_mapping.csv')

In [41]:
station_name_table

                                                Station Name
Two-Letter Station Code
RM                                                  Richmond
EN                                      El Cerrito Del Norte
EP                                          El Cerrito Plaza
NB                                            North Berkeley
BK                                                  Berkeley
AS                                                     Ashby
MA                                                 MacArthur
19                                       19th Street Oakland
12                         12th Street / Oakland City Center
LM                                              Lake Merritt
FV                                                 Fruitvale
CL                                                  Coliseum
SL                                               San Leandro
BF                                                   Bayfair
HY                                                   Hayward
SH                                             South Hayward
UC                                                Union City
FM                                                   Fremont
CN                                                   Concord
PH                                             Pleasant Hill
WC                                              Walnut Creek
LF                                                 Lafayette
OR                                                    Orinda
RR                                                 Rockridge
OW                                              West Oakland
EM                                               Embarcadero
MT                                         Montgomery Street
PL                                             Powell Street
CC                                              Civic Center
16                                       16th Street Mission
24                                       24th Street Mission
GP                                                 Glen Park
BP                                               Balboa Park
DC                                                 Daly City
CM                                                     Colma
CV                                             Castro Valley
ED                                         Dublin/Pleasanton
NC                                             North Concord
WP                                       Pittsburg/Bay Point
SS                                       South San Francisco
SB                                                 San Bruno
SO                       San Francisco International Airport
MB                                                  Millbrae
WD                                    West Dublin/Pleasanton
OA                             Oakland International Airport
WS                                              Warm Springs
AN                                                   Antioch
PC                                          Pittsburg Center
ML                                                  Milpitas
BE                                Berryessa / North San José

In [42]:
connection.rollback()

query = """

drop table if exists station_mapping

"""

cursor.execute(query)

connection.commit()

In [43]:
connection.rollback()

query = """

create table station_mapping (
    station_code varchar(2),
    station_name varchar(100)
    )

"""

cursor.execute(query)

connection.commit()

In [44]:
connection.rollback()

query = """

copy station_mapping
from '/user/projects/project-3-aquonAttheHub/code/station_code_mapping.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

In [45]:
connection.rollback()

query = """

select * 
from station_mapping
"""

cursor.execute(query)

connection.commit()

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

   station_code                         station_name
0            RM                             Richmond
1            EN                 El Cerrito Del Norte
2            EP                     El Cerrito Plaza
3            NB                       North Berkeley
4            BK                             Berkeley
5            AS                                Ashby
6            MA                            MacArthur
7            19                  19th Street Oakland
8            12    12th Street / Oakland City Center
9            LM                         Lake Merritt
10           FV                            Fruitvale
11           CL                             Coliseum
12           SL                          San Leandro
13           BF                              Bayfair
14           HY                              Hayward
15           SH                        South Hayward
16           UC                           Union City
17           FM                              Fremont
18           CN                              Concord
19           PH                        Pleasant Hill
20           WC                         Walnut Creek
21           LF                            Lafayette
22           OR                               Orinda
23           RR                            Rockridge
24           OW                         West Oakland
25           EM                          Embarcadero
26           MT                    Montgomery Street
27           PL                        Powell Street
28           CC                         Civic Center
29           16                  16th Street Mission
30           24                  24th Street Mission
31           GP                            Glen Park
32           BP                          Balboa Park
33           DC                            Daly City
34           CM                                Colma
35           CV                        Castro Valley
36           ED                    Dublin/Pleasanton
37           NC                        North Concord
38           WP                  Pittsburg/Bay Point
39           SS                  South San Francisco
40           SB                            San Bruno
41           SO  San Francisco International Airport
42           MB                             Millbrae
43           WD               West Dublin/Pleasanton
44           OA        Oakland International Airport
45           WS                         Warm Springs
46           AN                              Antioch
47           PC                     Pittsburg Center
48           ML                             Milpitas
49           BE           Berryessa / North San José

In [46]:
jan_data['average_daily_exits'] = jan_data.Exits/30
jan_exits = jan_data.loc[:,'average_daily_exits']
jan_exits = jan_exits.iloc[:-1]
jan_exits.to_csv('jan_exit_counts.csv')

In [47]:
jan_exits

RM     3439.700000
EN     6085.700000
EP     3717.100000
NB     3253.033333
BK     8545.566667
AS     3877.600000
MA     7059.166667
19    10472.166667
12    10717.966667
LM     5341.300000
FV     6015.000000
CL     3452.333333
SL     4677.866667
BF     4152.700000
HY     3434.300000
SH     2211.866667
UC     3326.300000
FM     4144.366667
CN     4170.333333
PH     5682.100000
WC     5049.433333
LF     2714.333333
OR     2204.700000
RR     4375.900000
OW     5659.766667
EM    35934.966667
MT    33522.833333
PL    20590.700000
CC    17718.700000
16    10539.800000
24     9898.000000
GP     5689.166667
BP     7873.466667
DC     6918.966667
CM     3299.366667
CV     2089.033333
ED     6047.133333
NC     1373.933333
WP     2859.700000
SS     2602.066667
SB     2795.166667
SO     4304.133333
MB     4473.700000
WD     2667.933333
OA      807.866667
WS     3164.533333
ML        0.000000
BE        0.000000
PC      857.900000
AN     2150.533333
Name: average_daily_exits, dtype: float64

In [48]:
connection.rollback()

query = """

drop table if exists exit_counts

"""

cursor.execute(query)

connection.commit()

In [49]:
connection.rollback()

query = """

create table exit_counts (
    station_code varchar(2),
    exit_counts numeric(10,4)
    )

"""

cursor.execute(query)

connection.commit()

In [50]:
connection.rollback()

query = """

copy exit_counts
from '/user/projects/project-3-aquonAttheHub/code/jan_exit_counts.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

In [51]:
connection.rollback()

query = """

select * 
from exit_counts
"""

cursor.execute(query)

connection.commit()

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

   station_code  exit_counts
0            RM    3439.7000
1            EN    6085.7000
2            EP    3717.1000
3            NB    3253.0333
4            BK    8545.5667
5            AS    3877.6000
6            MA    7059.1667
7            19   10472.1667
8            12   10717.9667
9            LM    5341.3000
10           FV    6015.0000
11           CL    3452.3333
12           SL    4677.8667
13           BF    4152.7000
14           HY    3434.3000
15           SH    2211.8667
16           UC    3326.3000
17           FM    4144.3667
18           CN    4170.3333
19           PH    5682.1000
20           WC    5049.4333
21           LF    2714.3333
22           OR    2204.7000
23           RR    4375.9000
24           OW    5659.7667
25           EM   35934.9667
26           MT   33522.8333
27           PL   20590.7000
28           CC   17718.7000
29           16   10539.8000
30           24    9898.0000
31           GP    5689.1667
32           BP    7873.4667
33           DC    6918.9667
34           CM    3299.3667
35           CV    2089.0333
36           ED    6047.1333
37           NC    1373.9333
38           WP    2859.7000
39           SS    2602.0667
40           SB    2795.1667
41           SO    4304.1333
42           MB    4473.7000
43           WD    2667.9333
44           OA     807.8667
45           WS    3164.5333
46           ML       0.0000
47           BE       0.0000
48           PC     857.9000
49           AN    2150.5333

In [52]:
connection.rollback()

query = """

select station_name,exit_counts
from station_mapping a
join exit_counts b
    on a.station_code = b.station_code
order by exit_counts

"""

cursor.execute(query)

connection.commit()

exit_table_temp = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

In [53]:
for community in np.unique(df.community):
    names = df[df.community==community].name
    max_exit = []
    for name in names:
        for s_name in exit_table_temp.station_name:
            if s_name in name:
#                 print(s_name, exit_table_temp[exit_table_temp.station_name==s_name].exit_counts)
                max_exit.append(exit_table_temp[exit_table_temp.station_name==s_name].exit_counts.values)
                
print(max_exit)

[array([2150.5333]), array([4170.3333]), array([2714.3333]), array([1373.9333]), array([4170.3333]), array([2204.7]), array([857.9]), array([5682.1]), array([4375.9]), array([5049.4333]), array([2150.5333]), array([4170.3333]), array([2714.3333]), array([1373.9333]), array([4170.3333]), array([2204.7]), array([857.9]), array([5682.1]), array([4375.9]), array([5049.4333]), array([2150.5333]), array([4170.3333]), array([2714.3333]), array([1373.9333]), array([4170.3333]), array([2204.7]), array([857.9]), array([5682.1]), array([4375.9]), array([5049.4333])]

In [54]:
exit_table_temp

                           station_name  exit_counts
0                              Milpitas       0.0000
1            Berryessa / North San José       0.0000
2         Oakland International Airport     807.8667
3                      Pittsburg Center     857.9000
4                         North Concord    1373.9333
5                         Castro Valley    2089.0333
6                               Antioch    2150.5333
7                                Orinda    2204.7000
8                         South Hayward    2211.8667
9                   South San Francisco    2602.0667
10               West Dublin/Pleasanton    2667.9333
11                            Lafayette    2714.3333
12                            San Bruno    2795.1667
13                  Pittsburg/Bay Point    2859.7000
14                         Warm Springs    3164.5333
15                       North Berkeley    3253.0333
16                                Colma    3299.3667
17                           Union City    3326.3000
18                              Hayward    3434.3000
19                             Richmond    3439.7000
20                             Coliseum    3452.3333
21                     El Cerrito Plaza    3717.1000
22                                Ashby    3877.6000
23                              Fremont    4144.3667
24                              Bayfair    4152.7000
25                              Concord    4170.3333
26  San Francisco International Airport    4304.1333
27                            Rockridge    4375.9000
28                             Millbrae    4473.7000
29                          San Leandro    4677.8667
30                         Walnut Creek    5049.4333
31                         Lake Merritt    5341.3000
32                         West Oakland    5659.7667
33                        Pleasant Hill    5682.1000
34                            Glen Park    5689.1667
35                            Fruitvale    6015.0000
36                    Dublin/Pleasanton    6047.1333
37                 El Cerrito Del Norte    6085.7000
38                            Daly City    6918.9667
39                            MacArthur    7059.1667
40                          Balboa Park    7873.4667
41                             Berkeley    8545.5667
42                  24th Street Mission    9898.0000
43                  19th Street Oakland   10472.1667
44                  16th Street Mission   10539.8000
45    12th Street / Oakland City Center   10717.9667
46                         Civic Center   17718.7000
47                        Powell Street   20590.7000
48                    Montgomery Street   33522.8333
49                          Embarcadero   35934.9667

In [55]:
for i in np.unique(df.community):
    print(i)
    print(df[df.community==i])

96
                  name  community intermediate_community
0   arrive 12th Street         96           [92, 96, 96]
1   arrive 19th Street         96           [96, 96, 96]
2     arrive MacArthur         96          [144, 96, 96]
3   depart 12th Street         96           [92, 96, 96]
4   depart 19th Street         96           [96, 96, 96]
5     depart MacArthur         96          [144, 96, 96]
6   orange 12th Street         96           [92, 96, 96]
7   orange 19th Street         96           [96, 96, 96]
8     orange MacArthur         96          [144, 96, 96]
9      red 12th Street         96           [92, 96, 96]
10     red 19th Street         96           [96, 96, 96]
11       red MacArthur         96          [144, 96, 96]
12  yellow 12th Street         96           [92, 96, 96]
13  yellow 19th Street         96           [96, 96, 96]
14    yellow MacArthur         96          [144, 96, 96]
98
                          name  community intermediate_community
15  arrive 24th Street Mission         98           [98, 98, 98]
16            arrive Glen Park         98          [136, 98, 98]
17    blue 24th Street Mission         98           [98, 98, 98]
18              blue Glen Park         98          [136, 98, 98]
19  depart 24th Street Mission         98           [98, 98, 98]
20            depart Glen Park         98          [136, 98, 98]
21   green 24th Street Mission         98           [98, 98, 98]
22             green Glen Park         98          [136, 98, 98]
23     red 24th Street Mission         98           [98, 98, 98]
24               red Glen Park         98          [136, 98, 98]
25  yellow 24th Street Mission         98           [98, 98, 98]
26            yellow Glen Park         98          [136, 98, 98]
104
                  name  community intermediate_community
27  arrive Balboa Park        104        [104, 104, 104]
28    arrive Daly City        104        [120, 104, 104]
29    blue Balboa Park        104        [104, 104, 104]
30      blue Daly City        104        [120, 104, 104]
31  depart Balboa Park        104        [104, 104, 104]
32    depart Daly City        104        [120, 104, 104]
33   green Balboa Park        104        [104, 104, 104]
34     green Daly City        104        [120, 104, 104]
35     red Balboa Park        104        [104, 104, 104]
36       red Daly City        104        [120, 104, 104]
37  yellow Balboa Park        104        [104, 104, 104]
38    yellow Daly City        104        [120, 104, 104]
134
                   name  community intermediate_community
39      arrive Coliseum        134        [114, 134, 134]
40     arrive Fruitvale        134        [134, 134, 134]
41  arrive Lake Merritt        134        [142, 134, 134]
42           arrive OAK        134        [156, 134, 134]
43        blue Coliseum        134        [114, 134, 134]
44       blue Fruitvale        134        [134, 134, 134]
45    blue Lake Merritt        134        [142, 134, 134]
46      depart Coliseum        134        [114, 134, 134]
47     depart Fruitvale        134        [134, 134, 134]
48  depart Lake Merritt        134        [142, 134, 134]
49           depart OAK        134        [156, 134, 134]
50        gray Coliseum        134        [114, 134, 134]
51             gray OAK        134        [156, 134, 134]
52       green Coliseum        134        [114, 134, 134]
53      green Fruitvale        134        [134, 134, 134]
54   green Lake Merritt        134        [142, 134, 134]
55      orange Coliseum        134        [114, 134, 134]
56     orange Fruitvale        134        [134, 134, 134]
57  orange Lake Merritt        134        [142, 134, 134]
138
                    name  community intermediate_community
58       arrive Bay Fair        138        [106, 174, 138]
59  arrive Castro Valley        138        [110, 188, 138]
60         arrive Dublin        138        [124, 188, 138]
61        arrive Hayward        138        [138, 138, 138]
62    arrive San Leandro        138        [174, 174, 138]
63  arrive South Hayward        138        [178, 138, 138]
64    arrive West Dublin        138        [188, 188, 138]
65         blue Bay Fair        138        [106, 174, 138]
66    blue Castro Valley        138        [110, 188, 138]
67           blue Dublin        138        [124, 188, 138]
68      blue San Leandro        138        [174, 174, 138]
69      blue West Dublin        138        [188, 188, 138]
70       depart Bay Fair        138        [106, 174, 138]
71  depart Castro Valley        138        [110, 188, 138]
72         depart Dublin        138        [124, 188, 138]
73        depart Hayward        138        [138, 138, 138]
74    depart San Leandro        138        [174, 174, 138]
75  depart South Hayward        138        [178, 138, 138]
76    depart West Dublin        138        [188, 188, 138]
77        green Bay Fair        138        [106, 174, 138]
78         green Hayward        138        [138, 138, 138]
79     green San Leandro        138        [174, 174, 138]
80   green South Hayward        138        [178, 138, 138]
81       orange Bay Fair        138        [106, 174, 138]
82        orange Hayward        138        [138, 138, 138]
83    orange San Leandro        138        [174, 174, 138]
84  orange South Hayward        138        [178, 138, 138]
150
                         name  community intermediate_community
85         arrive Embarcadero        150        [130, 150, 150]
86   arrive Montgomery Street        150        [150, 150, 150]
87        arrive West Oakland        150        [190, 150, 150]
88           blue Embarcadero        150        [130, 150, 150]
89     blue Montgomery Street        150        [150, 150, 150]
90          blue West Oakland        150        [190, 150, 150]
91         depart Embarcadero        150        [130, 150, 150]
92   depart Montgomery Street        150        [150, 150, 150]
93        depart West Oakland        150        [190, 150, 150]
94          green Embarcadero        150        [130, 150, 150]
95    green Montgomery Street        150        [150, 150, 150]
96         green West Oakland        150        [190, 150, 150]
97            red Embarcadero        150        [130, 150, 150]
98      red Montgomery Street        150        [150, 150, 150]
99           red West Oakland        150        [190, 150, 150]
100        yellow Embarcadero        150        [130, 150, 150]
101  yellow Montgomery Street        150        [150, 150, 150]
102       yellow West Oakland        150        [190, 150, 150]
166
                           name  community intermediate_community
103  arrive 16th Street Mission        166         [94, 166, 166]
104         arrive Civic Center        166        [112, 166, 166]
105        arrive Powell Street        166        [166, 166, 166]
106    blue 16th Street Mission        166         [94, 166, 166]
107           blue Civic Center        166        [112, 166, 166]
108          blue Powell Street        166        [166, 166, 166]
109  depart 16th Street Mission        166         [94, 166, 166]
110         depart Civic Center        166        [112, 166, 166]
111        depart Powell Street        166        [166, 166, 166]
112   green 16th Street Mission        166         [94, 166, 166]
113          green Civic Center        166        [112, 166, 166]
114         green Powell Street        166        [166, 166, 166]
115     red 16th Street Mission        166         [94, 166, 166]
116            red Civic Center        166        [112, 166, 166]
117           red Powell Street        166        [166, 166, 166]
118  yellow 16th Street Mission        166         [94, 166, 166]
119         yellow Civic Center        166        [112, 166, 166]
120        yellow Powell Street        166        [166, 166, 166]
168
                            name  community intermediate_community
121                 arrive Ashby        168        [102, 152, 168]
122     arrive Downtown Berkeley        168        [122, 152, 168]
123      arrive El Cerrito Plaza        168        [128, 168, 168]
124  arrive El Cerrito del Norte        168        [126, 168, 168]
125        arrive North Berkeley        168        [152, 152, 168]
126              arrive Richmond        168        [168, 168, 168]
127                 depart Ashby        168        [102, 152, 168]
128     depart Downtown Berkeley        168        [122, 152, 168]
129      depart El Cerrito Plaza        168        [128, 168, 168]
130  depart El Cerrito del Norte        168        [126, 168, 168]
131        depart North Berkeley        168        [152, 152, 168]
132              depart Richmond        168        [168, 168, 168]
133                 orange Ashby        168        [102, 152, 168]
134     orange Downtown Berkeley        168        [122, 152, 168]
135      orange El Cerrito Plaza        168        [128, 168, 168]
136  orange El Cerrito del Norte        168        [126, 168, 168]
137        orange North Berkeley        168        [152, 152, 168]
138              orange Richmond        168        [168, 168, 168]
139                    red Ashby        168        [102, 152, 168]
140        red Downtown Berkeley        168        [122, 152, 168]
141         red El Cerrito Plaza        168        [128, 168, 168]
142     red El Cerrito del Norte        168        [126, 168, 168]
143           red North Berkeley        168        [152, 152, 168]
144                 red Richmond        168        [168, 168, 168]
176
                           name  community intermediate_community
145                arrive Colma        176        [116, 180, 176]
146             arrive Millbrae        176        [146, 176, 176]
147                  arrive SFO        176        [176, 176, 176]
148            arrive San Bruno        176        [172, 176, 176]
149  arrive South San Francisco        176        [180, 180, 176]
150                depart Colma        176        [116, 180, 176]
151             depart Millbrae        176        [146, 176, 176]
152                  depart SFO        176        [176, 176, 176]
153            depart San Bruno        176        [172, 176, 176]
154  depart South San Francisco        176        [180, 180, 176]
155                   red Colma        176        [116, 180, 176]
156                red Millbrae        176        [146, 176, 176]
157                     red SFO        176        [176, 176, 176]
158               red San Bruno        176        [172, 176, 176]
159     red South San Francisco        176        [180, 180, 176]
160                yellow Colma        176        [116, 180, 176]
161                  yellow SFO        176        [176, 176, 176]
162            yellow San Bruno        176        [172, 176, 176]
163  yellow South San Francisco        176        [180, 180, 176]
182
                    name  community intermediate_community
164     arrive Berryessa        182        [108, 148, 182]
165       arrive Fremont        182        [132, 182, 182]
166      arrive Milpitas        182        [148, 148, 182]
167    arrive Union City        182        [182, 182, 182]
168  arrive Warm Springs        182        [186, 148, 182]
169     depart Berryessa        182        [108, 148, 182]
170       depart Fremont        182        [132, 182, 182]
171      depart Milpitas        182        [148, 148, 182]
172    depart Union City        182        [182, 182, 182]
173  depart Warm Springs        182        [186, 148, 182]
174      green Berryessa        182        [108, 148, 182]
175        green Fremont        182        [132, 182, 182]
176       green Milpitas        182        [148, 148, 182]
177     green Union City        182        [182, 182, 182]
178   green Warm Springs        182        [186, 148, 182]
179     orange Berryessa        182        [108, 148, 182]
180       orange Fremont        182        [132, 182, 182]
181      orange Milpitas        182        [148, 148, 182]
182    orange Union City        182        [182, 182, 182]
183  orange Warm Springs        182        [186, 148, 182]
184
                        name  community intermediate_community
184           arrive Antioch        184        [100, 162, 184]
185           arrive Concord        184        [118, 154, 184]
186         arrive Lafayette        184        [140, 158, 184]
187     arrive North Concord        184        [154, 154, 184]
188            arrive Orinda        184        [158, 158, 184]
189         arrive Pittsburg        184        [160, 162, 184]
190  arrive Pittsburg Center        184        [162, 162, 184]
191     arrive Pleasant Hill        184        [164, 184, 184]
192         arrive Rockridge        184        [170, 158, 184]
193      arrive Walnut Creek        184        [184, 184, 184]
194           depart Antioch        184        [100, 162, 184]
195           depart Concord        184        [118, 154, 184]
196         depart Lafayette        184        [140, 158, 184]
197     depart North Concord        184        [154, 154, 184]
198            depart Orinda        184        [158, 158, 184]
199         depart Pittsburg        184        [160, 162, 184]
200  depart Pittsburg Center        184        [162, 162, 184]
201     depart Pleasant Hill        184        [164, 184, 184]
202         depart Rockridge        184        [170, 158, 184]
203      depart Walnut Creek        184        [184, 184, 184]
204           yellow Antioch        184        [100, 162, 184]
205           yellow Concord        184        [118, 154, 184]
206         yellow Lafayette        184        [140, 158, 184]
207     yellow North Concord        184        [154, 154, 184]
208            yellow Orinda        184        [158, 158, 184]
209         yellow Pittsburg        184        [160, 162, 184]
210  yellow Pittsburg Center        184        [162, 162, 184]
211     yellow Pleasant Hill        184        [164, 184, 184]
212         yellow Rockridge        184        [170, 158, 184]
213      yellow Walnut Creek        184        [184, 184, 184]

Community 7: 16th street

Community 21: Powell 

Community 29: Balboa

Community 31: Berkeley

Community 47: San Leandro

Community 51: Lake Merritt

Community 59: Embarcadero

Community 63: Pleasant Hill

Community 67: 12th street

Community 85: Milbrae

Community 91: Fremont